.footer{ 
    background-color: rgb(1,66,106); 
    color: white; 
    font-size: 15px; 
    width: 100%;
    text-align: center; 
    align-items: center; 
    bottom: 0; 
    position: absolute; 
    height: 1.9rem;     
}