<div>  
  <input 
       class="form-control"  
       type="text"  
       width="150px" 
       placeholder="Chercher par nom de document"  
       [(ngModel)]="searchvalue"
       />
  <div class="table-responsive" style="min-height: 40vh; margin-top: 10px;"> 
     <table class="table table-striped" style="width: 100%;">
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Nom de pièce jointe</th>
             <th scope="col"></th>
             <th scope="col"></th>
           </tr>
         </thead> 
             
         <tbody>  
           <tr *ngFor="let document of  project.projectDocuments | documentsearchfilter:searchvalue ; let i = index">
             <td scope="row">{{i+1}}</td>
             <td>{{document.nom}}</td>
             <td><button mat-raised-button (click)="downloadpdf(document)" color="primary"><i class="fas fa-file-download"></i></button></td>
             <td><button (click)="deletedocument(document.id)" mat-raised-button color="primary"><i class="fas fa-trash"></i></button></td>
         
         </tbody>
       </table>  
    </div> 
    <div fxLayout="row">  
      <ngb-pagination 
        [(page)]="page" 
        [pageSize]="pageSize" 
        [collectionSize]="project.projectDocuments.length"> 
      </ngb-pagination>  
    </div>   
</div>