@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
th { 
    font-size: 10px;
    text-align : center ;  
    background-color: rgb(184,204,234) ; 
    color : rgb(0, 0, 0) ; 
 
   
}

td { 
    text-align: center; 
  
}

.percent { 
    font-family: 'Roboto', sans-serif; 
    color: rgb(8, 88, 8);
}

.g { 
    color: green ;
} 

.l { 
    color : red ; 
}