.rcontainer{ 
    min-height: 100vh; 
    display: flex;
    justify-content: center;  
    align-items: center;   
    background-color : whitesmoke ;   
}  

.matc{ 
    width: 50vw ;   
   
} 
.cont{ 
    display: flex; 
    flex-direction: column;
}   

.mdfp{ 
    font-size: 40px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 600px) { 
   
    .matc{ 
        width: 90vw ;  
    }   

    .mdfp { 
        font-size: 30px; 
    }

}

